:root {
    --Nutmeg: hsl(14, 45%, 36%);
    --DarkRaspberry: hsl(332, 51%, 32%);
    --White: hsl(0, 0%, 100%);
    --RoseWhite: hsl(330, 100%, 98%);
    --Eggshell: hsl(30, 54%, 90%);
    --LightGrey: hsl(30, 18%, 87%);
    --WengeBrown: hsl(30, 10%, 34%);
    --DarkCharcoal: hsl(24, 5%, 18%);
} 

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--Eggshell);
}

.container {
    background-color: var(--White);
    max-width: 630px;
    padding: 30px;
    border-radius: 2.5%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.img-container img {
    width: 100%;
    border-radius: 2%;
}

/* First Div Starts Here */

.first-content h2 {
    color: var(--DarkCharcoal);
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    margin-bottom: 10px;
}

.first-content p {
    font-size: 16px;
    font-family: "Outfit", sans-serif;
    color: var(--WengeBrown);
    margin-bottom: 35px;
}

/* Second Div Starts Here */

.second-content {
    background-color: var(--RoseWhite);
    padding: 15px;
    border-radius: 5%;
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    color: var(--DarkRaspberry);
}

.second-content h4 {
    padding-left: 20px;
    margin-bottom: 5px;
    font-size: 20px;
}

.second-content ul li {
    text-indent: 1em;
    margin-top: 10px;
}

.second-content span {
    color: var(--WengeBrown);
    font-weight: 300;
    padding-top: 5px;  
}

.second-content span.first {
    font-weight: 600;
}

/* Third Div Starts Here */

.third-content {
    color: var(--Nutmeg);
}

.third-content h3 {
    font-family: "Young Serif", serif;
    font-size: 26px;
    margin-bottom: 5px;
    margin-left: 15px;
}

.third-content ul li {
    padding-top: 10px;
}

.third-content span {
    color: var(--DarkCharcoal);
    text-indent: 1em;
}

.line {
    width: 95%;
}

/* Fourth Div Starts here */

.fourth-content {
    color: var(--Nutmeg);
}

.fourth-content h3 {
    font-family: "Young Serif", serif;
    font-size: 26px;
    margin-bottom: 5px;
    margin-left: 15px;
}

.fourth-content ol li {
    padding-top: 10px;
}

.fourth-content span {
    color: var(--WengeBrown);
    text-indent: 5em;
    font-weight: 200;
    padding-top: 5px;
}

.fourth-content span.topic {
  font-weight: 700;
}

/* Fifth Div Start Here */

.fifth-content h3 {
    color: var(--Nutmeg);
    font-family: "Young Serif", serif;
    font-size: 26px;
    margin-bottom: 5px;
    margin-left: 15px;
    font-weight: 400;
}

.fifth-content p {
    font-size: 16px;
    font-family: "Outfit", sans-serif;
    color: var(--WengeBrown);
    margin-bottom: 35px;
    padding-left: 10px;
}

table {
    border-collapse: collapse;
  }
  
  tr{
    border-bottom: 1px solid var(--WengeBrown);
    padding-left: 50px;
    font-size: 16px;
    font-family: "Outfit", sans-serif;
    color: var(--WengeBrown);
  }

  .left {
    padding-left: 30px;
  }

  .right {
    text-indent: 16em;
    color: var(--Nutmeg);
  }